@model IEnumerable<UnderstandingEFSolution.Models.Product>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@*<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var v in Model)
    {
        <tr>
            <td>@v.Id</td>
            <td>@v.Name</td>
            <td>@v.Price</td>
        </tr>
    }

</table>*@

